section#merignac {
    width: 100%;
}

section#merignac ul {
    display: flex;
}

section#merignac ul li {
    flex-direction: row;
    text-align: center;
    width: 33%;
    list-style: none;
}

section#bdd {
    display: flex;
}

section div {
    flex-direction: row;
    width: 33%;
}

section div h1 {
    text-align: center;
}

section div article {
    display: flex;
}

section div article h3 {
    flex-direction: column;
}