section#merignac {
    width: 100%;
}

section#merignac ul {
    display: flex;
}

section#merignac ul li {
    flex-direction: row;
    text-align: center;
    width: 33%;
    list-style: none;
}

section#bdd {
    display: flex;
}

section#bdd div {
    display: flex;
    width: 33%;
    flex-direction: column;
}

section#bdd div h1,
section#bdd div div {
    flex-direction: column;
}

section#bdd div div {
    display: flex;
    flex-direction: row;
    width: 100%;

}

section#bdd div div h2 {
    flex-direction: row;
    width: 25%;

}



section#bdd div h1,
section#bdd div div h2 {
    text-align: center;
}