<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>Station Météo</title>
</head>

<body>
    <section id="merignac">
        <h2>Mérignac</h2>
        <ul>
            <li>
                Température
            </li>
            <li>
                Humidité
            </li>
            <li>
                Date
            </li>
        </ul>

    </section>
    <section id="bdd">
        <div id="demo1">
            <!-- le nom  -->
            <h1><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h1>
            <!-- l'addresse -->
            <h2><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h2>
            <!-- le % batterie -->
            <h2><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h2>
            <article>
                <!-- la Température -->
                <h3><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h3>
                <!-- l'Humidité -->
                <h3><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h3>
            </article>


        </div>
        <div id="demo2">
            <!-- le nom  -->
            <h1><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h1>
            <!-- l'addresse -->
            <h2><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h2>
            <!-- le % batterie -->
            <h2><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h2>
            <article>
                <!-- la Température -->
                <h3><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h3>
                <!-- l'Humidité -->
                <h3><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h3>
            </article>


        </div>
        <div id="demo3">
            <!-- le nom  -->
            <h1><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h1>
            <!-- l'addresse -->
            <h2><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h2>
            <!-- le % batterie -->
            <h2><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h2>
            <article>
                <!-- la Température -->
                <h3><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h3>
                <!-- l'Humidité -->
                <h3><a href="{{ url_for('read_item', id=id) }}">Item ID: {{ id }}</a></h3>
            </article>


        </div>


    </section>


</body>

</html>