<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <meta http-equiv="refresh" content="5">
    <title>Station Météo</title>
</head>

<body>
    <section id="merignac">
        <h2>Mérignac = {{ temperaturem }}°</h2>
        <ul>
            <li>
                Température
            </li>
            <li>
                Humidité
            </li>
            <li>
                Date
            </li>
        </ul>

    </section>
    <h1>Modifier les alertes</h1>
    <form action="/alertes" method="post">
        <label for="tempmax">Température max (°C): </label>
        <input type="number" name="tempmax" value="{{ alertes.tempmax }}" required><br>

        <label for="tempmin">Température min (°C): </label>
        <input type="number" name="tempmin" value="{{ alertes.tempmin }}" required><br>

        <label for="hummax">Humidité max (%): </label>
        <input type="number" name="hummax" value="{{ alertes.hummax }}" required><br>

        <label for="hummin">Humidité min (%): </label>
        <input type="number" name="hummin" value="{{ alertes.hummin }}" required><br>

        <label for="battmin">Batterie min (%): </label>
        <input type="number" name="battmin" value="{{ alertes.battmin }}" required><br>

        <label for="emailreceiver">Email du destinataire : </label>
        <input type="email" name="emailreceiver" value="{{ alertes.emailreceiver }}" required><br>

        <button type="submit">Modifier les alertes</button>
    </form>
    <section id="bdd">
        {% for capteur in capteurs %}
        <div>
            <h1>{{capteur.name}}</h1>
            <h1>{{capteur.mac}}</h1>
            <form action="/modifier_nom" method="post">
                <input type="hidden" name="mac" value="{{ capteur.mac }}">
                <label for="nouveau_nom">Nouveau nom : </label>
                <input type="text" id="nouveau_nom" name="nouveau_nom" value="{{ capteur.name }}" required>
                <button type="submit">Modifier</button>
            </form>
            {% for mesure in capteur.mesures %}
            <div>
                <h2>Time {{mesure.horodatage}}</h2>
                <h2>Niveaux de batterie {{mesure.batterie}}%</h2>
                <h2>Niveaux de Humidité {{mesure.humidite}}%</h2>
                <h2>Niveaux de température {{mesure.temperature}}°C</h2>

            </div>
            {% endfor %}

        </div>

        {% endfor %}





    </section>


</body>

</html>
