<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <title>Station Météo</title>
</head>

<body>
    <section id="merignac">
        <h2>Mérignac</h2>
        <ul>
            <li>
                Température
            </li>
            <li>
                Humidité
            </li>
            <li>
                Date
            </li>
        </ul>

    </section>
    <section id="bdd">
        {% for capteur in capteurs %}
        <div>
            <h1>Capteur {{loop.index}}</h1>
            <h1>{{capteur.mac}}</h1>
            {% for mesure in capteur.mesures %}
            <div>
                <h2>Time {{mesure.horodatage}}</h2>
                <h2>Niveaux de batterie {{mesure.batterie}}%</h2>
                <h2>Niveaux de Humidité {{mesure.humidite}}%</h2>
                <h2>Niveaux de température {{mesure.temperature}}°C</h2>

            </div>
            {% endfor %}

        </div>

        {% endfor %}





    </section>


</body>

</html>